In [26]:
import pandas as pd
import numpy as np
import pickle

In [68]:
L_cap = pd.read_csv("./data/stock_spy.csv")
L_cap = L_cap.loc[L_cap['date']>'2016-01-01']
L_cap = L_cap.loc[:, ["date", "change"]]
L_cap.head()

            date    change
4068  2016-01-04  0.002644
4069  2016-01-05 -0.000199
4070  2016-01-06  0.002420
4071  2016-01-07 -0.006553
4072  2016-01-08 -0.016753

In [69]:
M_cap = pd.read_csv("./data/stock_mdy.csv")
M_cap = M_cap.loc[M_cap['date']>'2016-01-01']
M_cap = M_cap.loc[:, ["date", "change"]]
M_cap.head()

            date    change
4068  2016-01-04  0.003601
4069  2016-01-05 -0.001314
4070  2016-01-06 -0.001050
4071  2016-01-07 -0.009370
4072  2016-01-08 -0.017273

In [70]:
S_cap = pd.read_csv("./data/stock_ijr.csv")
S_cap = S_cap.loc[S_cap['date']>'2016-01-01']
S_cap = S_cap.loc[:, ["date", "change"]]
S_cap.head()

            date    change
3924  2016-01-04 -0.006651
3925  2016-01-05  0.000185
3926  2016-01-06  0.002350
3927  2016-01-07 -0.006977
3928  2016-01-08 -0.020234

In [71]:
wsb_econ = pd.read_csv("./data/wsb_daydf_count.csv")
wsb_econ.head()

         Date  Count
0  2016-01-01      7
1  2016-01-03     28
2  2016-01-04      8
3  2016-01-05      5
4  2016-01-06     17

In [72]:
wsb_econ2 = pd.read_csv("./data/wsb_daydf_count2.csv")
wsb_econ2.head()

         Date  Count
0  2016-01-01      7
1  2016-01-02      1
2  2016-01-03     74
3  2016-01-04     22
4  2016-01-05     13

In [73]:
wsb_favd = pd.read_csv("./data/wsb_favd_count.csv")
wsb_favd.head()

          day  favorites
0  2016-01-01         25
1  2016-01-02         37
2  2016-01-03        159
3  2016-01-04        224
4  2016-01-05        156

In [74]:
wsb_sentbyday = pd.read_csv("./data/wsb_sentbydaydf_count.csv")
wsb_sentbyday.head()

         Date  Sent_Count
0  2016-01-01          17
1  2016-01-02           0
2  2016-01-03          30
3  2016-01-04          -2
4  2016-01-05          -8

In [75]:
wsb_sentbydaypos = pd.read_csv("./data/wsb_sentbydayposdf_count.csv")
wsb_sentbydaypos.head()

         Date  Pos_Count
0  2016-01-01         23
1  2016-01-02          2
2  2016-01-03         88
3  2016-01-04         28
4  2016-01-05         19

In [76]:
wsb_sentbydayneg = pd.read_csv("./data/wsb_sentbydaynegdf_count.csv")
wsb_sentbydayneg.head()

         Date  Neg_Count
0  2016-01-01          6
1  2016-01-02          2
2  2016-01-03         58
3  2016-01-04         30
4  2016-01-05         27

In [77]:
wsb_empsit = pd.read_csv("./Data/empsit.csv")
wsb_empsit.head()

       Date  Mnly Chng
0  1/9/2015        268
1  2/6/2015        191
2  3/6/2015        271
3  4/3/2015         71
4  5/8/2015        284

In [87]:
wsb_mkt = L_cap.merge(wsb_sentbydayneg, how='inner', left_on="date" ,right_on="Date")
wsb_mkt = wsb_mkt.merge(wsb_sentbydaypos, how='inner' ,on="Date")
wsb_mkt =  wsb_mkt.merge(wsb_sentbyday, how='inner' ,on="Date")
wsb_mkt =  wsb_mkt.merge(wsb_favd, how='inner' , left_on="date" ,right_on="day")
wsb_mkt =  wsb_mkt.merge(wsb_econ2, how='inner' ,on="Date")
wsb_mkt['pos_neg'] = np.where (wsb_mkt['change'] > 0,1,0)
wsb_mkt['pos'] = np.where (wsb_mkt['change'] > 0.002,1,0)
wsb_mkt['neg'] = np.where (wsb_mkt['change'] < -0.002,1,0)
wsb_mkt['flat'] = np.where ((wsb_mkt['change'] <= 0.002) & (wsb_mkt['change'] >= -0.002) ,1,0)
wsb_mkt = wsb_mkt.drop(['Date', 'day'], axis=1)

wsb_mkt.head()

,date,change,Neg_Count,Pos_Count,Sent_Count,favorites,Count,pos_neg,pos,neg,flat
0,2016-01-04,0.002644,30,28,-2,224,22,1,1,0,0
1,2016-01-05,-0.000199,27,19,-8,156,13,0,0,0,1
2,2016-01-06,0.002420,62,39,-23,664,48,1,1,0,0
3,2016-01-07,-0.006553,84,79,-5,605,45,0,0,1,0
4,2016-01-08,-0.016753,76,75,-1,206,36,0,0,1,0

In [88]:
wsb_mkt['date'] = pd.to_datetime(wsb_mkt['date'])
wsb_empsit.dtypes
wsb_mkt.dtypes

date          datetime64[ns]
change               float64
Neg_Count              int64
Pos_Count              int64
Sent_Count             int64
favorites              int64
Count                  int64
pos_neg                int32
pos                    int32
neg                    int32
flat                   int32
dtype: object

In [89]:
wsb_mkt['job_change']=np.nan
for x in range(len(wsb_empsit.index)-1):
   wsb_mkt.loc[((wsb_mkt['date']>= wsb_empsit.loc[x][0]) & (wsb_mkt['date']< wsb_empsit.loc[x+1][0])),['job_change']]=wsb_empsit.loc[x][1]
#    print(wsb_mkt.loc[(wsb_mkt['date']>= wsb_empsit.loc[x][0]) & (wsb_mkt['date']< wsb_empsit.loc[x+1][0])]['job_change'])
wsb_mkt.head()

,date,change,Neg_Count,Pos_Count,Sent_Count,favorites,Count,pos_neg,pos,neg,flat,job_change
0,2016-01-04,0.002644,30,28,-2,224,22,1,1,0,0,237.0
1,2016-01-05,-0.000199,27,19,-8,156,13,0,0,0,1,237.0
2,2016-01-06,0.002420,62,39,-23,664,48,1,1,0,0,237.0
3,2016-01-07,-0.006553,84,79,-5,605,45,0,0,1,0,237.0
4,2016-01-08,-0.016753,76,75,-1,206,36,0,0,1,0,273.0

In [90]:
wsb_rgdp = pd.read_csv("./Data/RGDP.csv")
wsb_rgdp.head()
wsb_rgdp['Date']=pd.to_datetime(wsb_rgdp['Date'])

In [91]:
wsb_mkt['growthgap']=np.nan
for x in range(len(wsb_rgdp.index)-1):
   wsb_mkt.loc[((wsb_mkt['date']>= wsb_rgdp.loc[x][0]) & (wsb_mkt['date']< wsb_rgdp.loc[x+1][0])),['growthgap']]=wsb_rgdp.loc[x][3]
wsb_mkt.head()

,date,change,Neg_Count,Pos_Count,Sent_Count,favorites,Count,pos_neg,pos,neg,flat,job_change,growthgap
0,2016-01-04,0.002644,30,28,-2,224,22,1,1,0,0,237.0,-0.5
1,2016-01-05,-0.000199,27,19,-8,156,13,0,0,0,1,237.0,-0.5
2,2016-01-06,0.002420,62,39,-23,664,48,1,1,0,0,237.0,-0.5
3,2016-01-07,-0.006553,84,79,-5,605,45,0,0,1,0,237.0,-0.5
4,2016-01-08,-0.016753,76,75,-1,206,36,0,0,1,0,273.0,-0.5

In [ ]:
#wsb_mkt = L_cap.merge(wsb_sentbydayneg, how='inner', left_on="date" ,right_on="Date")
#wsb_mkt = wsb_mkt.merge(wsb_sentbydaypos, how='inner' ,on="Date")
#wsb_mkt =  wsb_mkt.merge(wsb_sentbyday, how='inner' ,on="Date")
#wsb_mkt =  wsb_mkt.merge(wsb_favd, how='inner' , left_on="date" ,right_on="day")
#wsb_mkt =  wsb_mkt.merge(wsb_econ, how='inner' ,on="Date")
#wsb_mkt =  wsb_mkt.merge(wsb_econ, how='inner' ,on="Date")
#wsb_mkt =  wsb_mkt.merge(wsb_econ, how='inner' ,on="Date")
#wsb_mkt['pos_neg'] = np.where (wsb_mkt['change'] > 0,1,0)
#wsb_mkt['pos'] = np.where (wsb_mkt['change'] > 0.002,1,0)
#wsb_mkt['neg'] = np.where (wsb_mkt['change'] < -0.002,1,0)
#wsb_mkt['flat'] = np.where ((wsb_mkt['change'] <= 0.002) & (wsb_mkt['change'] >= -0.002) ,1,0)

#wsb_mkt

In [92]:
wsb_mkt['negcount1day'] = wsb_mkt['Neg_Count'].shift(1)
wsb_mkt['poscount1day'] = wsb_mkt['Pos_Count'].shift(1)
wsb_mkt['sentcount1day'] = wsb_mkt['Sent_Count'].shift(1)
wsb_mkt['favcount1day'] = wsb_mkt['favorites'].shift(1)
wsb_mkt['econcount21day'] = wsb_mkt['Count'].shift(1)
wsb_mkt['job_change1day'] = wsb_mkt['job_change'].shift(1)
wsb_mkt['growthgap1day'] = wsb_mkt['growthgap'].shift(1)
wsb_mkt['change1day'] = wsb_mkt['change'].shift(1)
wsb_mkt['negcount2day'] = wsb_mkt['Neg_Count'].shift(2)
wsb_mkt['poscount2day'] = wsb_mkt['Pos_Count'].shift(2)
wsb_mkt['sentcount2day'] = wsb_mkt['Sent_Count'].shift(2)
wsb_mkt['favcount2day'] = wsb_mkt['favorites'].shift(2)
wsb_mkt['econcount22day'] = wsb_mkt['Count'].shift(2)
wsb_mkt['job_change2day'] = wsb_mkt['job_change'].shift(2)
wsb_mkt['growthgap2day'] = wsb_mkt['growthgap'].shift(2)
wsb_mkt['change2day'] = wsb_mkt['change'].shift(2)
wsb_mkt['negcount3day'] = wsb_mkt['Neg_Count'].shift(3)
wsb_mkt['poscount3day'] = wsb_mkt['Pos_Count'].shift(3)
wsb_mkt['sentcount3day'] = wsb_mkt['Sent_Count'].shift(3)
wsb_mkt['favcount3day'] = wsb_mkt['favorites'].shift(3)
wsb_mkt['econcount23day'] = wsb_mkt['Count'].shift(3)
wsb_mkt['job_change3day'] = wsb_mkt['job_change'].shift(3)
wsb_mkt['growthgap3day'] = wsb_mkt['growthgap'].shift(3)
wsb_mkt['change3day'] = wsb_mkt['change'].shift(3)
wsb_mkt['negcount4day'] = wsb_mkt['Neg_Count'].shift(4)
wsb_mkt['poscount4day'] = wsb_mkt['Pos_Count'].shift(4)
wsb_mkt['sentcount4day'] = wsb_mkt['Sent_Count'].shift(4)
wsb_mkt['favcount4day'] = wsb_mkt['favorites'].shift(4)
wsb_mkt['econcount24day'] = wsb_mkt['Count'].shift(4)
wsb_mkt['job_change4day'] = wsb_mkt['job_change'].shift(4)
wsb_mkt['growthgap4day'] = wsb_mkt['growthgap'].shift(4)
wsb_mkt['change4day'] = wsb_mkt['change'].shift(4)
wsb_mkt['negcount5day'] = wsb_mkt['Neg_Count'].shift(5)
wsb_mkt['poscount5day'] = wsb_mkt['Pos_Count'].shift(5)
wsb_mkt['sentcount5day'] = wsb_mkt['Sent_Count'].shift(5)
wsb_mkt['favcount5day'] = wsb_mkt['favorites'].shift(5)
wsb_mkt['econcount25day'] = wsb_mkt['Count'].shift(5)
wsb_mkt['job_change5day'] = wsb_mkt['job_change'].shift(5)
wsb_mkt['growthgap5day'] = wsb_mkt['growthgap'].shift(5)
wsb_mkt['change5day'] = wsb_mkt['change'].shift(5)
wsb_mkt['negcount6day'] = wsb_mkt['Neg_Count'].shift(6)
wsb_mkt['poscount6day'] = wsb_mkt['Pos_Count'].shift(6)
wsb_mkt['sentcount6day'] = wsb_mkt['Sent_Count'].shift(6)
wsb_mkt['favcount6day'] = wsb_mkt['favorites'].shift(6)
wsb_mkt['econcount26day'] = wsb_mkt['Count'].shift(6)
wsb_mkt['job_change6day'] = wsb_mkt['job_change'].shift(6)
wsb_mkt['growthgap6day'] = wsb_mkt['growthgap'].shift(6)
wsb_mkt['change6day'] = wsb_mkt['change'].shift(6)
wsb_mkt['negcount7day'] = wsb_mkt['Neg_Count'].shift(7)
wsb_mkt['poscount7day'] = wsb_mkt['Pos_Count'].shift(7)
wsb_mkt['sentcount7day'] = wsb_mkt['Sent_Count'].shift(7)
wsb_mkt['favcount7day'] = wsb_mkt['favorites'].shift(7)
wsb_mkt['econcount27day'] = wsb_mkt['Count'].shift(7)
wsb_mkt['job_change7day'] = wsb_mkt['job_change'].shift(7)
wsb_mkt['growthgap7day'] = wsb_mkt['growthgap'].shift(7)
wsb_mkt['change7day'] = wsb_mkt['change'].shift(7)
wsb_mkt['negcount8day'] = wsb_mkt['Neg_Count'].shift(8)
wsb_mkt['poscount8day'] = wsb_mkt['Pos_Count'].shift(8)
wsb_mkt['sentcount8day'] = wsb_mkt['Sent_Count'].shift(8)
wsb_mkt['favcount8day'] = wsb_mkt['favorites'].shift(8)
wsb_mkt['econcount28day'] = wsb_mkt['Count'].shift(8)
wsb_mkt['job_change8day'] = wsb_mkt['job_change'].shift(8)
wsb_mkt['growthgap8day'] = wsb_mkt['growthgap'].shift(8)
wsb_mkt['change8day'] = wsb_mkt['change'].shift(8)
wsb_mkt['negcount9day'] = wsb_mkt['Neg_Count'].shift(9)
wsb_mkt['poscount9day'] = wsb_mkt['Pos_Count'].shift(9)
wsb_mkt['sentcount9day'] = wsb_mkt['Sent_Count'].shift(9)
wsb_mkt['favcount9day'] = wsb_mkt['favorites'].shift(9)
wsb_mkt['econcount29day'] = wsb_mkt['Count'].shift(9)
wsb_mkt['job_change9day'] = wsb_mkt['job_change'].shift(9)
wsb_mkt['growthgap9day'] = wsb_mkt['growthgap'].shift(9)
wsb_mkt['change9day'] = wsb_mkt['change'].shift(9)
wsb_mkt['negcount10day'] = wsb_mkt['Neg_Count'].shift(10)
wsb_mkt['poscount10day'] = wsb_mkt['Pos_Count'].shift(10)
wsb_mkt['sentcount10day'] = wsb_mkt['Sent_Count'].shift(10)
wsb_mkt['favcount10day'] = wsb_mkt['favorites'].shift(10)
wsb_mkt['econcount210day'] = wsb_mkt['Count'].shift(10)
wsb_mkt['job_change10day'] = wsb_mkt['job_change'].shift(10)
wsb_mkt['growthgap10day'] = wsb_mkt['growthgap'].shift(10)
wsb_mkt['change10day'] = wsb_mkt['change'].shift(10)
wsb_mkt['negcount11day'] = wsb_mkt['Neg_Count'].shift(11)
wsb_mkt['poscount11day'] = wsb_mkt['Pos_Count'].shift(11)
wsb_mkt['sentcount11day'] = wsb_mkt['Sent_Count'].shift(11)
wsb_mkt['favcount11day'] = wsb_mkt['favorites'].shift(11)
wsb_mkt['econcount211day'] = wsb_mkt['Count'].shift(11)
wsb_mkt['job_change11day'] = wsb_mkt['job_change'].shift(11)
wsb_mkt['growthgap11day'] = wsb_mkt['growthgap'].shift(11)
wsb_mkt['change11day'] = wsb_mkt['change'].shift(11)
wsb_mkt['negcount12day'] = wsb_mkt['Neg_Count'].shift(12)
wsb_mkt['poscount12day'] = wsb_mkt['Pos_Count'].shift(12)
wsb_mkt['sentcount12day'] = wsb_mkt['Sent_Count'].shift(12)
wsb_mkt['favcount12day'] = wsb_mkt['favorites'].shift(12)
wsb_mkt['econcount212day'] = wsb_mkt['Count'].shift(12)
wsb_mkt['job_change12day'] = wsb_mkt['job_change'].shift(12)
wsb_mkt['growthgap12day'] = wsb_mkt['growthgap'].shift(12)
wsb_mkt['change12day'] = wsb_mkt['change'].shift(12)
wsb_mkt['negcount13day'] = wsb_mkt['Neg_Count'].shift(13)
wsb_mkt['poscount13day'] = wsb_mkt['Pos_Count'].shift(13)
wsb_mkt['sentcount13day'] = wsb_mkt['Sent_Count'].shift(13)
wsb_mkt['favcount13day'] = wsb_mkt['favorites'].shift(13)
wsb_mkt['econcount213day'] = wsb_mkt['Count'].shift(13)
wsb_mkt['job_change13day'] = wsb_mkt['job_change'].shift(13)
wsb_mkt['growthgap13day'] = wsb_mkt['growthgap'].shift(13)
wsb_mkt['change13day'] = wsb_mkt['change'].shift(13)
wsb_mkt['negcount14day'] = wsb_mkt['Neg_Count'].shift(14)
wsb_mkt['poscount14day'] = wsb_mkt['Pos_Count'].shift(14)
wsb_mkt['sentcount14day'] = wsb_mkt['Sent_Count'].shift(14)
wsb_mkt['favcount14day'] = wsb_mkt['favorites'].shift(14)
wsb_mkt['econcount214day'] = wsb_mkt['Count'].shift(14)
wsb_mkt['job_change14day'] = wsb_mkt['job_change'].shift(14)
wsb_mkt['growthgap14day'] = wsb_mkt['growthgap'].shift(14)
wsb_mkt['change14day'] = wsb_mkt['change'].shift(14)
wsb_mkt['negcount15day'] = wsb_mkt['Neg_Count'].shift(15)
wsb_mkt['poscount15day'] = wsb_mkt['Pos_Count'].shift(15)
wsb_mkt['sentcount15day'] = wsb_mkt['Sent_Count'].shift(15)
wsb_mkt['favcount15day'] = wsb_mkt['favorites'].shift(15)
wsb_mkt['econcount215day'] = wsb_mkt['Count'].shift(15)
wsb_mkt['job_change15day'] = wsb_mkt['job_change'].shift(15)
wsb_mkt['growthgap15day'] = wsb_mkt['growthgap'].shift(15)
wsb_mkt['change15day'] = wsb_mkt['change'].shift(15)
wsb_mkt

,date,change,Neg_Count,Pos_Count,Sent_Count,favorites,Count,pos_neg,pos,neg,...,growthgap14day,change14day,negcount15day,poscount15day,sentcount15day,favcount15day,econcount215day,job_change15day,growthgap15day,change15day
0,2016-01-04,0.002644,30,28,-2,224,22,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-05,-0.000199,27,19,-8,156,13,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-06,0.002420,62,39,-23,664,48,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-07,-0.006553,84,79,-5,605,45,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-08,-0.016753,76,75,-1,206,36,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,2021-04-26,0.000407,406,755,349,494,560,1,0,0,...,NaN,0.005547,942.0,1234.0,292.0,559.0,825.0,NaN,NaN,0.002504
1320,2021-04-27,-0.000981,617,1137,520,558,731,0,0,0,...,NaN,0.007188,1115.0,1520.0,405.0,602.0,1114.0,NaN,NaN,0.005547
1321,2021-04-28,-0.000981,600,1104,504,452,699,0,0,0,...,NaN,0.000887,454.0,694.0,240.0,467.0,499.0,NaN,NaN,0.007188
1322,2021-04-29,-0.000619,462,805,343,455,512,0,0,0,...,NaN,0.001601,495.0,711.0,216.0,373.0,489.0,NaN,NaN,0.000887
1323,2021-04-30,-0.000790,894,1187,293,424,829,0,0,0,...,NaN,0.001446,879.0,1380.0,501.0,452.0,1030.0,NaN,NaN,0.001601

In [97]:
wsb_mkt.to_csv('./Data/wsb_lmkt2.csv', index=False)

In [98]:
for x in wsb_mkt.columns:
    print(x)

date
change
Neg_Count
Pos_Count
Sent_Count
favorites
Count
pos_neg
pos
neg
flat
job_change
growthgap
negcount1day
poscount1day
sentcount1day
favcount1day
econcount21day
job_change1day
growthgap1day
change1day
negcount2day
poscount2day
sentcount2day
favcount2day
econcount22day
job_change2day
growthgap2day
change2day
negcount3day
poscount3day
sentcount3day
favcount3day
econcount23day
job_change3day
growthgap3day
change3day
negcount4day
poscount4day
sentcount4day
favcount4day
econcount24day
job_change4day
growthgap4day
change4day
negcount5day
poscount5day
sentcount5day
favcount5day
econcount25day
job_change5day
growthgap5day
change5day
negcount6day
poscount6day
sentcount6day
favcount6day
econcount26day
job_change6day
growthgap6day
change6day
negcount7day
poscount7day
sentcount7day
favcount7day
econcount27day
job_change7day
growthgap7day
change7day
negcount8day
poscount8day
sentcount8day
favcount8day
econcount28day
job_change8day
growthgap8day
change8day
negcount9day
poscount9day
sentcount9day
favcount9day
econcount29day
job_change9day
growthgap9day
change9day
negcount10day
poscount10day
sentcount10day
favcount10day
econcount210day
job_change10day
growthgap10day
change10day
negcount11day
poscount11day
sentcount11day
favcount11day
econcount211day
job_change11day
growthgap11day
change11day
negcount12day
poscount12day
sentcount12day
favcount12day
econcount212day
job_change12day
growthgap12day
change12day
negcount13day
poscount13day
sentcount13day
favcount13day
econcount213day
job_change13day
growthgap13day
change13day
negcount14day
poscount14day
sentcount14day
favcount14day
econcount214day
job_change14day
growthgap14day
change14day
negcount15day
poscount15day
sentcount15day
favcount15day
econcount215day
job_change15day
growthgap15day
change15day

In [181]:
wsb_mkt.dropna(inplace=True)
#wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7]] #1 Neg_Count, Pos_Count
#wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 4:5, 5:7]] #2 Sent_Count
#wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13]] #3 Neg_Count, Pos_Count, job_change, growthgap
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13, 13:15, 16:23, 24:31, 32:39, 40:47, 48 -55, 56:63, 64:71, 72:79, 80:87, 88:95, 96:103, 104:111, 112:119, 120:127, 128:133]] #4 with lags
wsb_lmkt_x.set_index("date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x.head()
#wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
#wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)

,Neg_Count,Pos_Count,favorites,Count,job_change,growthgap,negcount1day,poscount1day,favcount1day,econcount21day,...,job_change14day,growthgap14day,change14day,negcount15day,poscount15day,favcount15day,econcount215day,job_change15day,growthgap15day,change15day
date,,,,,,,,,,,,,,,,,,,,,
2016-01-26,72,72,500,43,273.0,-0.5,15.0,26.0,563.0,19.0,...,237.0,-0.5,-0.000199,30.0,28.0,224.0,22.0,237.0,-0.5,0.002644
2016-01-27,36,42,337,30,273.0,-0.5,72.0,72.0,500.0,43.0,...,237.0,-0.5,0.002420,27.0,19.0,156.0,13.0,237.0,-0.5,-0.000199
2016-01-28,33,42,608,23,273.0,-0.5,36.0,42.0,337.0,30.0,...,237.0,-0.5,-0.006553,62.0,39.0,664.0,48.0,237.0,-0.5,0.002420
2016-01-29,33,30,157,17,273.0,-0.1,33.0,42.0,608.0,23.0,...,273.0,-0.5,-0.016753,84.0,79.0,605.0,45.0,237.0,-0.5,-0.006553
2016-02-01,24,23,276,27,273.0,-0.1,33.0,30.0,157.0,17.0,...,273.0,-0.5,-0.004663,76.0,75.0,206.0,36.0,273.0,-0.5,-0.016753

In [187]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.tree import export_graphviz
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [188]:
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y3, test_size = 0.33,random_state=42)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
#print(regr.score(X_test, y_test))

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [189]:
ridge = Ridge()
ridge.fit(X_train,y_train)
#print(ridge.score(X_test, y_test))
# regr.predict_proba(X_test)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [190]:
print(regr.score(X_test, y_test)) #4 with lags

-0.2014369870360444

In [192]:
sorted(zip(regr.feature_importances_, wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13, 13:15, 16:23, 24:31, 32:39, 40:47, 48 -55, 56:63, 64:71, 72:79, 80:87, 88:95, 96:103, 104:111, 112:119, 120:127, 128:133]]), reverse=True)

[(0.09169828566881269, 'growthgap4day'),
 (0.07469009265349799, 'growthgap2day'),
 (0.04978836592804034, 'growthgap12day'),
 (0.038836077390838504, 'growthgap3day'),
 (0.03858149006719406, 'growthgap1day'),
 (0.02744870578714162, 'poscount2day'),
 (0.025951113659349507, 'growthgap13day'),
 (0.0243634170757167, 'poscount11day'),
 (0.02400682655986635, 'growthgap8day'),
 (0.020237207551374925, 'growthgap10day'),
 (0.019528611130316405, 'growthgap15day'),
 (0.019261526248230146, 'growthgap14day'),
 (0.019078719332449343, 'poscount15day'),
 (0.018151890788713276, 'poscount7day'),
 (0.017449617588974377, 'growthgap9day'),
 (0.016851573742267426, 'negcount11day'),
 (0.016190548790350753, 'growthgap7day'),
 (0.015738618139944708, 'negcount14day'),
 (0.015738127321272746, 'favcount8day'),
 (0.014722800973391681, 'growthgap'),
 (0.014084994052602422, 'change2day'),
 (0.012788860436834951, 'favcount6day'),
 (0.01182590238892078, 'favcount14day'),
 (0.011631846944470666, 'growthgap11day'),
 (0.011367916817255843, 'negcount10day'),
 (0.011141602864346123, 'growthgap6day'),
 (0.010561367842053755, 'date'),
 (0.010510094589477145, 'negcount5day'),
 (0.010383714752890925, 'favorites'),
 (0.010168173239182527, 'negcount9day'),
 (0.010078628383104336, 'favcount1day'),
 (0.008417645965842019, 'Pos_Count'),
 (0.0080563315545113, 'negcount2day'),
 (0.007905499594810076, 'change9day'),
 (0.007729370964215372, 'change13day'),
 (0.00746442590250534, 'change8day'),
 (0.007331409971246971, 'poscount14day'),
 (0.007194788389377113, 'change7day'),
 (0.006947966462081817, 'poscount12day'),
 (0.006775770622563219, 'poscount1day'),
 (0.006725176150510397, 'favcount10day'),
 (0.006369602142925719, 'poscount9day'),
 (0.006280978380770273, 'change11day'),
 (0.006168980894172824, 'poscount3day'),
 (0.00612605947251805, 'change3day'),
 (0.005710199048068675, 'econcount22day'),
 (0.0056773898204286, 'poscount8day'),
 (0.005586219027150366, 'negcount3day'),
 (0.00538946149239216, 'negcount13day'),
 (0.005383041623274597, 'negcount7day'),
 (0.005378042683693724, 'favcount3day'),
 (0.005267537948739971, 'favcount11day'),
 (0.005255150310274109, 'negcount4day'),
 (0.005030429207925282, 'favcount4day'),
 (0.004942803403826328, 'poscount10day'),
 (0.004850344010118666, 'poscount15day'),
 (0.0048078245477151975, 'poscount5day'),
 (0.004701349358565464, 'econcount211day'),
 (0.004603103004343383, 'change6day'),
 (0.004546319095649758, 'econcount28day'),
 (0.0044411169467454764, 'change12day'),
 (0.004421372246781376, 'econcount212day'),
 (0.004363982050352384, 'econcount213day'),
 (0.004353914954304416, 'favcount13day'),
 (0.004284820853861558, 'Neg_Count'),
 (0.004132299673122801, 'poscount4day'),
 (0.0039501291299342736, 'favcount12day'),
 (0.0037818265952494733, 'change1day'),
 (0.003668207312874757, 'negcount1day'),
 (0.003641933796086995, 'poscount13day'),
 (0.003593559648174458, 'econcount210day'),
 (0.003415252869806453, 'favcount2day'),
 (0.0032086794061796757, 'job_change13day'),
 (0.0031903218541700544, 'job_change'),
 (0.0031891837241563845, 'job_change15day'),
 (0.0030147156120978445, 'econcount23day'),
 (0.002978403482484875, 'econcount21day'),
 (0.0028877821089979697, 'Count'),
 (0.0027666147954596852, 'negcount8day'),
 (0.002685392406361119, 'favcount15day'),
 (0.002678054407605612, 'job_change1day'),
 (0.0026199673725624643, 'change10day'),
 (0.0025348770585993047, 'econcount24day'),
 (0.002483527964516371, 'favcount7day'),
 (0.0024197160801950374, 'favcount9day'),
 (0.0024160804392732256, 'job_change6day'),
 (0.0020499812818472103, 'job_change2day'),
 (0.0019272656217403314, 'econcount27day'),
 (0.0018875323662463043, 'change4day'),
 (0.001847642042698312, 'econcount215day'),
 (0.0018284032307633823, 'econcount214day'),
 (0.0018040611842949062, 'job_change3day'),
 (0.0017470844533560687, 'econcount26day'),
 (0.001394616834327518, 'job_change14day'),
 (0.0011017282431794633, 'job_change8day'),
 (0.001022941711977099, 'job_change9day'),
 (0.0009950240733542785, 'econcount29day'),
 (0.000956093214268265, 'job_change4day'),
 (0.0009059753866891903, 'job_change11day'),
 (0.00089189632239686, 'negcount15day'),
 (0.0008711726295249163, 'negcount12day'),
 (0.0006834516282456526, 'job_change12day'),
 (0.0006746025019220855, 'job_change10day'),
 (0.000501705200291582, 'change14day'),
 (0.00030714952382277535, 'job_change7day')]

In [191]:
print(ridge.score(X_test, y_test)) #4 with lags

-1.8441824140713248

In [179]:
print(regr.score(X_test, y_test)) #3 Neg_Count, Pos_Count, job_change, growthgap

-0.2179259304759058

In [180]:
print(ridge.score(X_test, y_test)) #3 Neg_Count, Pos_Count, job_change, growthgap

-0.062129875508766697

In [173]:
print(regr.score(X_test, y_test))#2 Sent_Count

-0.2900833653818633

In [174]:
print(ridge.score(X_test, y_test))#2 Sent_Count

-0.025429927862825608

In [167]:
print(regr.score(X_test, y_test))#1 Neg_Count, Pos_Count

-0.19880804321676382

In [165]:
print(ridge.score(X_test, y_test))#1 Neg_Count, Pos_Count

-0.062129875508766697

In [168]:
#wsb_mkt.dropna(inplace=True)
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 4:5, 5:7]] #2 Sent_Count
wsb_lmkt_x.set_index("date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x.head()
#wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
#wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)

            Sent_Count  favorites  Count
date
2016-01-26           0        500     43
2016-01-27           6        337     30
2016-01-28           9        608     23
2016-01-29          -3        157     17
2016-02-01          -1        276     27

In [133]:
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y3, test_size = 0.33,random_state=42)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
print(regr.score(X_test, y_test))

ridge = Ridge()
ridge.fit(X_train,y_train)
print(ridge.score(X_test, y_test))
# regr.predict_proba(X_test)

-0.21838567787315544
-0.025429927862825608

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [134]:
wsb_mkt.dropna(inplace=True)
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13]] #3 Neg_Count, Pos_Count, job_change, growthgap
wsb_lmkt_x.set_index("date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x.head()
#wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
#wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)

            Neg_Count  Pos_Count  favorites  Count  job_change  growthgap
date
2016-01-26         72         72        500     43       273.0       -0.5
2016-01-27         36         42        337     30       273.0       -0.5
2016-01-28         33         42        608     23       273.0       -0.5
2016-01-29         33         30        157     17       273.0       -0.1
2016-02-01         24         23        276     27       273.0       -0.1

In [135]:
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y3, test_size = 0.33,random_state=42)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
print(regr.score(X_test, y_test))

ridge = Ridge()
ridge.fit(X_train,y_train)
print(ridge.score(X_test, y_test))
# regr.predict_proba(X_test)

-0.17915114308777816
-0.062129875508766697

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [119]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.tree import export_graphviz
#from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [126]:
wsb_mkt.dropna(inplace=True)
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13, 13:15, 16:23, 24:31, 32:39, 40:47, 48 -55, 56:63, 64:71, 72:79, 80:87, 88:95, 96:103, 104:111, 112:119, 120:127, 128:133]] #4 with lags
wsb_lmkt_x.set_index("date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x.head()
#wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
#wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)

,Neg_Count,Pos_Count,favorites,Count,job_change,growthgap,negcount1day,poscount1day,favcount1day,econcount21day,...,job_change14day,growthgap14day,change14day,negcount15day,poscount15day,favcount15day,econcount215day,job_change15day,growthgap15day,change15day
date,,,,,,,,,,,,,,,,,,,,,
2016-01-26,72,72,500,43,273.0,-0.5,15.0,26.0,563.0,19.0,...,237.0,-0.5,-0.000199,30.0,28.0,224.0,22.0,237.0,-0.5,0.002644
2016-01-27,36,42,337,30,273.0,-0.5,72.0,72.0,500.0,43.0,...,237.0,-0.5,0.002420,27.0,19.0,156.0,13.0,237.0,-0.5,-0.000199
2016-01-28,33,42,608,23,273.0,-0.5,36.0,42.0,337.0,30.0,...,237.0,-0.5,-0.006553,62.0,39.0,664.0,48.0,237.0,-0.5,0.002420
2016-01-29,33,30,157,17,273.0,-0.1,33.0,42.0,608.0,23.0,...,273.0,-0.5,-0.016753,84.0,79.0,605.0,45.0,237.0,-0.5,-0.006553
2016-02-01,24,23,276,27,273.0,-0.1,33.0,30.0,157.0,17.0,...,273.0,-0.5,-0.004663,76.0,75.0,206.0,36.0,273.0,-0.5,-0.016753

In [140]:
wsb_lmkt_x.shape

(1261, 6)

In [136]:
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y3, test_size = 0.33,random_state=42)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
print(regr.score(X_test, y_test))

ridge = Ridge()
ridge.fit(X_train,y_train)
print(ridge.score(X_test, y_test))
# regr.predict_proba(X_test)

-0.33861532251105686
-0.062129875508766697

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [139]:
sorted(zip(regr.feature_importances_, wsb_mkt.iloc[:, np.r_[0, 2:4, 5:7, 11:13, 13:15, 16:23, 24:31, 32:39, 40:47, 48 -55, 56:63, 64:71, 72:79, 80:87, 88:95, 96:103, 104:111, 112:119, 120:127, 128:133]]), reverse=True)

[(0.24451534059995023, 'Pos_Count'),
 (0.2234945904763689, 'date'),
 (0.19532487397088671, 'Neg_Count'),
 (0.15022914605085846, 'favorites'),
 (0.10135321799535886, 'Count'),
 (0.08508283090657687, 'job_change')]

In [ ]:
wsb_mkt.dropna(inplace=True)
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[0, 2:6,12:14,18:20, 20:25]]
wsb_lmkt_x.set_index("date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x
#wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
#wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)