In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
L_cap = pd.read_csv("./data/stock_spy.csv")
L_cap = L_cap.loc[L_cap['date']>'2016-01-01']
L_cap.head()

            date    open    high     low   close       volume    change
4068  2016-01-04  200.49  201.03  198.59  201.02  222353500.0  0.002644
4069  2016-01-05  201.40  201.90  200.05  201.36  110845800.0 -0.000199
4070  2016-01-06  198.34  200.06  197.60  198.82  152112600.0  0.002420
4071  2016-01-07  195.33  197.44  193.59  194.05  213436100.0 -0.006553
4072  2016-01-08  195.19  195.85  191.58  191.92  209817200.0 -0.016753

In [3]:
M_cap = pd.read_csv("./data/stock_mdy.csv")
M_cap = M_cap.loc[M_cap['date']>'2016-01-01']
M_cap.head()

            date    open    high     low   close     volume    change
4068  2016-01-04  249.92  250.82  248.24  250.82  5094674.0  0.003601
4069  2016-01-05  251.23  251.79  249.63  250.90  3856769.0 -0.001314
4070  2016-01-06  247.62  249.18  246.04  247.36  5394041.0 -0.001050
4071  2016-01-07  243.32  244.97  240.85  241.04  6412601.0 -0.009370
4072  2016-01-08  242.00  242.83  237.61  237.82  4343081.0 -0.017273

In [4]:
S_cap = pd.read_csv("./data/stock_ijr.csv")
S_cap = S_cap.loc[S_cap['date']>'2016-01-01']
S_cap.head()

            date    open      high     low   close     volume    change
3924  2016-01-04  108.26  108.3000  106.64  107.54  1535455.0 -0.006651
3925  2016-01-05  107.85  108.0900  107.16  107.87   763638.0  0.000185
3926  2016-01-06  106.39  107.3600  106.05  106.64   725463.0  0.002350
3927  2016-01-07  104.63  105.5999  103.74  103.90  1782852.0 -0.006977
3928  2016-01-08  104.28  104.7150  102.04  102.17  1440398.0 -0.020234

In [5]:
wsb_econ = pd.read_csv("./data/wsb_daydf_count.csv")
wsb_econ.head()

         Date  Count
0  2016-01-01      7
1  2016-01-03     28
2  2016-01-04      8
3  2016-01-05      5
4  2016-01-06     17

In [122]:
wsb_econ2 = pd.read_csv("./data/wsb_daydf_count2.csv")
wsb_econ2.head()

         Date  Count
0  2016-01-01      7
1  2016-01-02      1
2  2016-01-03     74
3  2016-01-04     22
4  2016-01-05     13

In [6]:
wsb_favd = pd.read_csv("./data/wsb_favd_count.csv")
wsb_favd.head()

          day  favorites
0  2016-01-01         25
1  2016-01-02         37
2  2016-01-03        159
3  2016-01-04        224
4  2016-01-05        156

In [7]:
wsb_sentbyday = pd.read_csv("./data/wsb_sentbydaydf_count.csv")
wsb_sentbyday.head()

         Date  Sent_Count
0  2016-01-01          17
1  2016-01-02           0
2  2016-01-03          30
3  2016-01-04          -2
4  2016-01-05          -8

In [8]:
wsb_sentbydaypos = pd.read_csv("./data/wsb_sentbydayposdf_count.csv")
wsb_sentbydaypos.head()

         Date  Pos_Count
0  2016-01-01         23
1  2016-01-02          2
2  2016-01-03         88
3  2016-01-04         28
4  2016-01-05         19

In [9]:
wsb_sentbydayneg = pd.read_csv("./data/wsb_sentbydaynegdf_count.csv")
wsb_sentbydayneg.head()

         Date  Neg_Count
0  2016-01-01          6
1  2016-01-02          2
2  2016-01-03         58
3  2016-01-04         30
4  2016-01-05         27

In [72]:
wsb_empsit = pd.read_csv("./Data/empsit.csv")
wsb_empsit.head()

       Date  Mnly Chng
0  1/9/2015        268
1  2/6/2015        191
2  3/6/2015        271
3  4/3/2015         71
4  5/8/2015        284

In [110]:
wsb_mkt['date'] = pd.to_datetime(wsb_mkt['date'])
wsb_empsit.dtypes
wsb_mkt.dtypes

date          datetime64[ns]
open                 float64
high                 float64
low                  float64
close                float64
volume               float64
change               float64
Date                  object
Neg_Count              int64
Pos_Count              int64
Sent_Count             int64
day                   object
favorites              int64
Count                  int64
pos_neg                int32
pos                    int32
neg                    int32
flat                   int32
growthgap            float64
dtype: object

In [111]:
wsb_mkt['job_change']=np.nan
for x in range(len(wsb_empsit.index)-1):
   wsb_mkt.loc[((wsb_mkt['date']>= wsb_empsit.loc[x][0]) & (wsb_mkt['date']< wsb_empsit.loc[x+1][0])),['job_change']]=wsb_empsit.loc[x][1]
#    print(wsb_mkt.loc[(wsb_mkt['date']>= wsb_empsit.loc[x][0]) & (wsb_mkt['date']< wsb_empsit.loc[x+1][0])]['job_change'])
wsb_mkt.head()

,date,open,high,low,close,volume,change,Date,Neg_Count,Pos_Count,Sent_Count,day,favorites,Count,pos_neg,pos,neg,flat,growthgap,job_change
0,2016-01-04,200.49,201.03,198.59,201.02,222353500.0,0.002644,2016-01-04,30,28,-2,2016-01-04,224,8,1,1,0,0,NaN,237.0
1,2016-01-05,201.40,201.90,200.05,201.36,110845800.0,-0.000199,2016-01-05,27,19,-8,2016-01-05,156,5,0,0,0,1,NaN,237.0
2,2016-01-06,198.34,200.06,197.60,198.82,152112600.0,0.002420,2016-01-06,62,39,-23,2016-01-06,664,17,1,1,0,0,NaN,237.0
3,2016-01-07,195.33,197.44,193.59,194.05,213436100.0,-0.006553,2016-01-07,84,79,-5,2016-01-07,605,18,0,0,1,0,NaN,237.0
4,2016-01-08,195.19,195.85,191.58,191.92,209817200.0,-0.016753,2016-01-08,76,75,-1,2016-01-08,206,20,0,0,1,0,NaN,273.0

In [106]:
wsb_rgdp = pd.read_csv("./Data/RGDP.csv")
wsb_rgdp.head()
wsb_rgdp['Date']=pd.to_datetime(wsb_rgdp['Date'])

In [112]:
wsb_mkt['growthgap']=np.nan
for x in range(len(wsb_rgdp.index)-1):
   wsb_mkt.loc[((wsb_mkt['date']>= wsb_rgdp.loc[x][0]) & (wsb_mkt['date']< wsb_rgdp.loc[x+1][0])),['growthgap']]=wsb_rgdp.loc[x][3]
wsb_mkt.head()

,date,open,high,low,close,volume,change,Date,Neg_Count,Pos_Count,Sent_Count,day,favorites,Count,pos_neg,pos,neg,flat,growthgap,job_change
0,2016-01-04,200.49,201.03,198.59,201.02,222353500.0,0.002644,2016-01-04,30,28,-2,2016-01-04,224,8,1,1,0,0,-0.5,237.0
1,2016-01-05,201.40,201.90,200.05,201.36,110845800.0,-0.000199,2016-01-05,27,19,-8,2016-01-05,156,5,0,0,0,1,-0.5,237.0
2,2016-01-06,198.34,200.06,197.60,198.82,152112600.0,0.002420,2016-01-06,62,39,-23,2016-01-06,664,17,1,1,0,0,-0.5,237.0
3,2016-01-07,195.33,197.44,193.59,194.05,213436100.0,-0.006553,2016-01-07,84,79,-5,2016-01-07,605,18,0,0,1,0,-0.5,237.0
4,2016-01-08,195.19,195.85,191.58,191.92,209817200.0,-0.016753,2016-01-08,76,75,-1,2016-01-08,206,20,0,0,1,0,-0.5,273.0

In [108]:
wsb_mkt = L_cap.merge(wsb_sentbydayneg, how='inner', left_on="date" ,right_on="Date")
wsb_mkt = wsb_mkt.merge(wsb_sentbydaypos, how='inner' ,on="Date")
wsb_mkt =  wsb_mkt.merge(wsb_sentbyday, how='inner' ,on="Date")
wsb_mkt =  wsb_mkt.merge(wsb_favd, how='inner' , left_on="date" ,right_on="day")
wsb_mkt =  wsb_mkt.merge(wsb_econ, how='inner' ,on="Date")
wsb_mkt['pos_neg'] = np.where (wsb_mkt['change'] > 0,1,0)
wsb_mkt['pos'] = np.where (wsb_mkt['change'] > 0.002,1,0)
wsb_mkt['neg'] = np.where (wsb_mkt['change'] < -0.002,1,0)
wsb_mkt['flat'] = np.where ((wsb_mkt['change'] <= 0.002) & (wsb_mkt['change'] >= -0.002) ,1,0)

wsb_mkt

,date,open,high,low,close,volume,change,Date,Neg_Count,Pos_Count,Sent_Count,day,favorites,Count,pos_neg,pos,neg,flat
0,2016-01-04,200.49,201.03,198.5900,201.02,222353500.0,0.002644,2016-01-04,30,28,-2,2016-01-04,224,8,1,1,0,0
1,2016-01-05,201.40,201.90,200.0500,201.36,110845800.0,-0.000199,2016-01-05,27,19,-8,2016-01-05,156,5,0,0,0,1
2,2016-01-06,198.34,200.06,197.6000,198.82,152112600.0,0.002420,2016-01-06,62,39,-23,2016-01-06,664,17,1,1,0,0
3,2016-01-07,195.33,197.44,193.5900,194.05,213436100.0,-0.006553,2016-01-07,84,79,-5,2016-01-07,605,18,0,0,1,0
4,2016-01-08,195.19,195.85,191.5800,191.92,209817200.0,-0.016753,2016-01-08,76,75,-1,2016-01-08,206,20,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,2021-04-26,417.44,418.22,416.8111,417.61,52182392.0,0.000407,2021-04-26,406,755,349,2021-04-26,494,145,1,0,0,1
1318,2021-04-27,417.93,418.14,416.3000,417.52,51303056.0,-0.000981,2021-04-27,617,1137,520,2021-04-27,558,214,0,0,0,1
1319,2021-04-28,417.81,419.01,416.9000,417.40,51238854.0,-0.000981,2021-04-28,600,1104,504,2021-04-28,452,184,0,0,0,1
1320,2021-04-29,420.32,420.72,416.4400,420.06,78544329.0,-0.000619,2021-04-29,462,805,343,2021-04-29,455,153,0,0,0,1
1321,2021-04-30,417.63,418.54,416.3400,417.30,85527030.0,-0.000790,2021-04-30,894,1187,293,2021-04-30,424,197,0,0,0,1

In [113]:
wsb_mkt['negcount1day'] = wsb_mkt['Neg_Count'].shift(1)
wsb_mkt['poscount1day'] = wsb_mkt['Pos_Count'].shift(1)
#wsb_mkt['sentcount1day'] = wsb_mkt['Sent_Count'].shift(1)
wsb_mkt['favcount1day'] = wsb_mkt['favorites'].shift(1)
wsb_mkt['econcount1day'] = wsb_mkt['Count'].shift(1)
wsb_mkt['change1day'] = wsb_mkt['change'].shift(1)
wsb_mkt['negcount2day'] = wsb_mkt['Neg_Count'].shift(2)
wsb_mkt['poscount2day'] = wsb_mkt['Pos_Count'].shift(2)
#wsb_mkt['sentcount2day'] = wsb_mkt['Sent_Count'].shift(2)
wsb_mkt['favcount2day'] = wsb_mkt['favorites'].shift(2)
wsb_mkt['econcount2day'] = wsb_mkt['Count'].shift(2)
wsb_mkt['change2day'] = wsb_mkt['change'].shift(2)
wsb_mkt['negcount3day'] = wsb_mkt['Neg_Count'].shift(3)
wsb_mkt['poscount3day'] = wsb_mkt['Pos_Count'].shift(3)
#wsb_mkt['sentcount3day'] = wsb_mkt['Sent_Count'].shift(3)
wsb_mkt['favcount3day'] = wsb_mkt['favorites'].shift(3)
wsb_mkt['econcount3day'] = wsb_mkt['Count'].shift(3)
wsb_mkt['change3day'] = wsb_mkt['change'].shift(3)
wsb_mkt['negcount4day'] = wsb_mkt['Neg_Count'].shift(4)
wsb_mkt['poscount4day'] = wsb_mkt['Pos_Count'].shift(4)
#wsb_mkt['sentcount4day'] = wsb_mkt['Sent_Count'].shift(4)
wsb_mkt['favcount4day'] = wsb_mkt['favorites'].shift(4)
wsb_mkt['econcount4day'] = wsb_mkt['Count'].shift(4)
wsb_mkt['change4day'] = wsb_mkt['change'].shift(4)
wsb_mkt['negcount5day'] = wsb_mkt['Neg_Count'].shift(5)
wsb_mkt['poscount5day'] = wsb_mkt['Pos_Count'].shift(5)
#wsb_mkt['sentcount5day'] = wsb_mkt['Sent_Count'].shift(5)
wsb_mkt['favcount5day'] = wsb_mkt['favorites'].shift(5)
wsb_mkt['econcount5day'] = wsb_mkt['Count'].shift(5)
wsb_mkt['change5day'] = wsb_mkt['change'].shift(5)
wsb_mkt['negcount6day'] = wsb_mkt['Neg_Count'].shift(6)
wsb_mkt['poscount6day'] = wsb_mkt['Pos_Count'].shift(6)
#sb_mkt['sentcount6day'] = wsb_mkt['Sent_Count'].shift(6)
wsb_mkt['favcount6day'] = wsb_mkt['favorites'].shift(6)
wsb_mkt['econcount6day'] = wsb_mkt['Count'].shift(6)
wsb_mkt['change6day'] = wsb_mkt['change'].shift(6)
wsb_mkt['negcount7day'] = wsb_mkt['Neg_Count'].shift(7)
wsb_mkt['poscount7day'] = wsb_mkt['Pos_Count'].shift(7)
#wsb_mkt['sentcount7day'] = wsb_mkt['Sent_Count'].shift(7)
wsb_mkt['favcount7day'] = wsb_mkt['favorites'].shift(7)
wsb_mkt['econcount7day'] = wsb_mkt['Count'].shift(7)
wsb_mkt['change7day'] = wsb_mkt['change'].shift(7)
wsb_mkt['negcount8day'] = wsb_mkt['Neg_Count'].shift(8)
wsb_mkt['poscount8day'] = wsb_mkt['Pos_Count'].shift(8)
#wsb_mkt['sentcount8day'] = wsb_mkt['Sent_Count'].shift(8)
wsb_mkt['favcount8day'] = wsb_mkt['favorites'].shift(8)
wsb_mkt['econcount8day'] = wsb_mkt['Count'].shift(8)
wsb_mkt['change8day'] = wsb_mkt['change'].shift(8)
wsb_mkt['negcount9day'] = wsb_mkt['Neg_Count'].shift(9)
wsb_mkt['poscount9day'] = wsb_mkt['Pos_Count'].shift(9)
#wsb_mkt['sentcount9day'] = wsb_mkt['Sent_Count'].shift(9)
wsb_mkt['favcount9day'] = wsb_mkt['favorites'].shift(9)
wsb_mkt['econcount9day'] = wsb_mkt['Count'].shift(9)
wsb_mkt['change9day'] = wsb_mkt['change'].shift(9)
wsb_mkt['negcount10day'] = wsb_mkt['Neg_Count'].shift(10)
wsb_mkt['poscount10day'] = wsb_mkt['Pos_Count'].shift(10)
#wsb_mkt['sentcount10day'] = wsb_mkt['Sent_Count'].shift(10)
wsb_mkt['favcount10day'] = wsb_mkt['favorites'].shift(10)
wsb_mkt['econcount10day'] = wsb_mkt['Count'].shift(10)
wsb_mkt['change10day'] = wsb_mkt['change'].shift(10)
wsb_mkt['negcount11day'] = wsb_mkt['Neg_Count'].shift(11)
wsb_mkt['poscount11day'] = wsb_mkt['Pos_Count'].shift(11)
#wsb_mkt['sentcount11day'] = wsb_mkt['Sent_Count'].shift(11)
wsb_mkt['favcount11day'] = wsb_mkt['favorites'].shift(11)
wsb_mkt['econcount11day'] = wsb_mkt['Count'].shift(11)
wsb_mkt['change11day'] = wsb_mkt['change'].shift(11)
wsb_mkt['negcount12day'] = wsb_mkt['Neg_Count'].shift(12)
wsb_mkt['poscount12day'] = wsb_mkt['Pos_Count'].shift(12)
#wsb_mkt['sentcount12day'] = wsb_mkt['Sent_Count'].shift(12)
wsb_mkt['favcount12day'] = wsb_mkt['favorites'].shift(12)
wsb_mkt['econcount12day'] = wsb_mkt['Count'].shift(12)
wsb_mkt['change12day'] = wsb_mkt['change'].shift(12)
wsb_mkt['negcount13day'] = wsb_mkt['Neg_Count'].shift(13)
wsb_mkt['poscount13day'] = wsb_mkt['Pos_Count'].shift(13)
#wsb_mkt['sentcount13day'] = wsb_mkt['Sent_Count'].shift(13)
wsb_mkt['favcount13day'] = wsb_mkt['favorites'].shift(13)
wsb_mkt['econcount13day'] = wsb_mkt['Count'].shift(13)
wsb_mkt['change13day'] = wsb_mkt['change'].shift(13)
wsb_mkt['negcount14day'] = wsb_mkt['Neg_Count'].shift(14)
wsb_mkt['poscount14day'] = wsb_mkt['Pos_Count'].shift(14)
# wsb_mkt['sentcount14day'] = wsb_mkt['Sent_Count'].shift(14)
wsb_mkt['favcount14day'] = wsb_mkt['favorites'].shift(14)
wsb_mkt['econcount14day'] = wsb_mkt['Count'].shift(14)
wsb_mkt['change14day'] = wsb_mkt['change'].shift(14)
wsb_mkt['negcount15day'] = wsb_mkt['Neg_Count'].shift(15)
wsb_mkt['poscount15day'] = wsb_mkt['Pos_Count'].shift(15)
# wsb_mkt['sentcount15day'] = wsb_mkt['Sent_Count'].shift(15)
wsb_mkt['favcount15day'] = wsb_mkt['favorites'].shift(15)
wsb_mkt['econcount15day'] = wsb_mkt['Count'].shift(15)
wsb_mkt['change15day'] = wsb_mkt['change'].shift(15)
wsb_mkt

,date,open,high,low,close,volume,change,Date,Neg_Count,Pos_Count,...,negcount14day,poscount14day,favcount14day,econcount14day,change14day,negcount15day,poscount15day,favcount15day,econcount15day,change15day
0,2016-01-04,200.49,201.03,198.5900,201.02,222353500.0,0.002644,2016-01-04,30,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-05,201.40,201.90,200.0500,201.36,110845800.0,-0.000199,2016-01-05,27,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-06,198.34,200.06,197.6000,198.82,152112600.0,0.002420,2016-01-06,62,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-07,195.33,197.44,193.5900,194.05,213436100.0,-0.006553,2016-01-07,84,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-08,195.19,195.85,191.5800,191.92,209817200.0,-0.016753,2016-01-08,76,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,2021-04-26,417.44,418.22,416.8111,417.61,52182392.0,0.000407,2021-04-26,406,755,...,1115.0,1520.0,602.0,328.0,0.005547,942.0,1234.0,559.0,222.0,0.002504
1318,2021-04-27,417.93,418.14,416.3000,417.52,51303056.0,-0.000981,2021-04-27,617,1137,...,454.0,694.0,467.0,123.0,0.007188,1115.0,1520.0,602.0,328.0,0.005547
1319,2021-04-28,417.81,419.01,416.9000,417.40,51238854.0,-0.000981,2021-04-28,600,1104,...,495.0,711.0,373.0,151.0,0.000887,454.0,694.0,467.0,123.0,0.007188
1320,2021-04-29,420.32,420.72,416.4400,420.06,78544329.0,-0.000619,2021-04-29,462,805,...,879.0,1380.0,452.0,197.0,0.001601,495.0,711.0,373.0,151.0,0.000887
1321,2021-04-30,417.63,418.54,416.3400,417.30,85527030.0,-0.000790,2021-04-30,894,1187,...,825.0,1074.0,492.0,206.0,0.001446,879.0,1380.0,452.0,197.0,0.001601

In [33]:
wsb_mkt.to_csv('./Data/wsb_lmkt.csv', index=False)

In [114]:
for x in wsb_mkt.columns:
    print(x)

date
open
high
low
close
volume
change
Date
Neg_Count
Pos_Count
Sent_Count
day
favorites
Count
pos_neg
pos
neg
flat
growthgap
job_change
negcount1day
poscount1day
favcount1day
econcount1day
change1day
negcount2day
poscount2day
favcount2day
econcount2day
change2day
negcount3day
poscount3day
favcount3day
econcount3day
change3day
negcount4day
poscount4day
favcount4day
econcount4day
change4day
negcount5day
poscount5day
favcount5day
econcount5day
change5day
negcount6day
poscount6day
favcount6day
econcount6day
change6day
negcount7day
poscount7day
favcount7day
econcount7day
change7day
negcount8day
poscount8day
favcount8day
econcount8day
change8day
negcount9day
poscount9day
favcount9day
econcount9day
change9day
negcount10day
poscount10day
favcount10day
econcount10day
change10day
negcount11day
poscount11day
favcount11day
econcount11day
change11day
negcount12day
poscount12day
favcount12day
econcount12day
change12day
negcount13day
poscount13day
favcount13day
econcount13day
change13day
negcount14day
poscount14day
favcount14day
econcount14day
change14day
negcount15day
poscount15day
favcount15day
econcount15day
change15day

In [118]:
wsb_mkt.dropna(inplace=True)
wsb_lmkt_x = wsb_mkt.iloc[:, np.r_[7:10,12:14,18:20, 20:25]]
wsb_lmkt_x.set_index("Date", inplace=True)
wsb_lmkt_y1 = wsb_mkt['pos_neg']
wsb_lmkt_y2 = wsb_mkt[['pos','neg','flat']]
wsb_lmkt_y3 = wsb_mkt[['change']]
wsb_lmkt_x
wsb_lmkt_x.to_csv('./Data/wsb_lmkt_x.csv', index=True)
wsb_lmkt_y1.to_csv('./Data/wsb_lmkt_y1.csv', index=False)

In [119]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y3,  random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
print(regr.score(X_test, y_test))

ridge = Ridge()
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)
# regr.predict_proba(X_test)

-0.14433157604469216

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

-0.07349679325424918

In [120]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y1,  random_state=24)
regr = LogisticRegression()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)
# regr.predict_proba(X_test)

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.5301587301587302

In [121]:
from sklearn.svm import SVC
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_x, wsb_lmkt_y1,  random_state=24)
svc = SVC()
svc.fit(X_train,y_train)
svc.score(X_test, y_test)

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.580952380952381

In [15]:
filename = 'wsb_lgcap_model.sav'
pickle.dump(regr, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.5504587155963303

In [16]:
LC_change = wsb_mkt.loc[:, ["change"]].values
LC_change
wsb_lmkt_X = wsb_mkt.loc[:,["Neg_Count", "Pos_Count", "favorites", "Count"]].values
wsb_lmkt_X

array([[  72,   72,  500,   16],
       [  36,   42,  337,   18],
       [  33,   42,  608,   14],
       ...,
       [ 600, 1104,  452,  184],
       [ 462,  805,  455,  153],
       [ 894, 1187,  424,  197]], dtype=int64)

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_X, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

-0.23763178928590456

In [18]:
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

-0.0010802763171462448

In [19]:
LC_change = wsb_mkt.loc[:, ["change"]].values
LC_change
wsb_lmkt_X1 = wsb_mkt.loc[:,["Sent_Count", "favorites", "Count"]].values
wsb_lmkt_X1

array([[  0, 500,  16],
       [  6, 337,  18],
       [  9, 608,  14],
       ...,
       [504, 452, 184],
       [343, 455, 153],
       [293, 424, 197]], dtype=int64)

In [20]:
X_train, X_test,y_train,y_test = train_test_split(wsb_lmkt_X1, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\areer\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

-0.1609143630438492

In [21]:
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

0.00045417373466483113

In [22]:
from sklearn.metrics import r2_score
r2_score(y_test, regr.predict(X_test))
#r2_score(y_train, regr.predict(X_train))

-0.1609143630438492

In [23]:
y_change = ridge.predict(wsb_lmkt_X1)

In [24]:
r2_score(wsb_lmkt['change'], y_change)

NameError: name 'wsb_lmkt' is not defined

In [25]:
y_test = ridge.predict(X_test)
r2_score(y_train, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [875, 432]

In [26]:
wsb_mktm = M_cap.merge(wsb_sentbydayneg, how='inner', left_on="date" ,right_on="Date")
wsb_mktm = wsb_mktm.merge(wsb_sentbydaypos, how='inner' ,on="Date")
wsb_mktm =  wsb_mktm.merge(wsb_sentbyday, how='inner' ,on="Date")
wsb_mktm =  wsb_mktm.merge(wsb_favd, how='inner' , left_on="date" ,right_on="day")
wsb_mktm =  wsb_mktm.merge(wsb_econ, how='inner' ,on="Date")
wsb_mktm

,date,open,high,low,close,volume,change,Date,Neg_Count,Pos_Count,Sent_Count,day,favorites,Count
0,2016-01-04,249.92,250.82,248.24,250.82,5094674.0,0.003601,2016-01-04,30,28,-2,2016-01-04,224,8
1,2016-01-05,251.23,251.79,249.63,250.90,3856769.0,-0.001314,2016-01-05,27,19,-8,2016-01-05,156,5
2,2016-01-06,247.62,249.18,246.04,247.36,5394041.0,-0.001050,2016-01-06,62,39,-23,2016-01-06,664,17
3,2016-01-07,243.32,244.97,240.85,241.04,6412601.0,-0.009370,2016-01-07,84,79,-5,2016-01-07,605,18
4,2016-01-08,242.00,242.83,237.61,237.82,4343081.0,-0.017273,2016-01-08,76,75,-1,2016-01-08,206,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,2021-04-26,502.54,504.26,501.64,502.67,998318.0,0.000259,2021-04-26,406,755,349,2021-04-26,494,145
1318,2021-04-27,503.44,504.60,500.85,503.35,525200.0,-0.000179,2021-04-27,617,1137,520,2021-04-27,558,214
1319,2021-04-28,502.92,504.92,502.13,503.43,782362.0,0.001014,2021-04-28,600,1104,504,2021-04-28,452,184
1320,2021-04-29,506.89,507.63,499.78,503.43,941346.0,-0.006826,2021-04-29,462,805,343,2021-04-29,455,153
1321,2021-04-30,500.01,501.26,495.75,496.58,1382917.0,-0.006860,2021-04-30,894,1187,293,2021-04-30,424,197

In [27]:
wsb_mmkt = wsb_mktm.loc[:, ["date", "change", "Neg_Count", "Pos_Count", "Sent_Count", "favorites", "Count"]]
wsb_mmkt

            date    change  Neg_Count  Pos_Count  Sent_Count  favorites  Count
0     2016-01-04  0.003601         30         28          -2        224      8
1     2016-01-05 -0.001314         27         19          -8        156      5
2     2016-01-06 -0.001050         62         39         -23        664     17
3     2016-01-07 -0.009370         84         79          -5        605     18
4     2016-01-08 -0.017273         76         75          -1        206     20
...          ...       ...        ...        ...         ...        ...    ...
1317  2021-04-26  0.000259        406        755         349        494    145
1318  2021-04-27 -0.000179        617       1137         520        558    214
1319  2021-04-28  0.001014        600       1104         504        452    184
1320  2021-04-29 -0.006826        462        805         343        455    153
1321  2021-04-30 -0.006860        894       1187         293        424    197

[1322 rows x 7 columns]

In [28]:
MC_change = wsb_mktm.loc[:, ["change"]].values
MC_change
wsb_mmkt_X1 = wsb_mktm.loc[:,["Neg_Count", "Pos_Count", "favorites", "Count"]].values
wsb_mmkt_X1

array([[  30,   28,  224,    8],
       [  27,   19,  156,    5],
       [  62,   39,  664,   17],
       ...,
       [ 600, 1104,  452,  184],
       [ 462,  805,  455,  153],
       [ 894, 1187,  424,  197]], dtype=int64)

In [29]:
X_train, X_test,y_train,y_test = train_test_split(wsb_mmkt_X1, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [1322, 1307]

In [30]:
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

1.0

In [31]:
MC_change = wsb_mmkt.loc[:, ["change"]].values
MC_change
wsb_mmkt_X1 = wsb_mmkt.loc[:,["Sent_Count", "favorites", "Count"]].values
wsb_mmkt_X1

X_train, X_test,y_train,y_test = train_test_split(wsb_mmkt_X1, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [1322, 1307]

In [ ]:
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

In [ ]:
wsb_mkts = S_cap.merge(wsb_sentbydayneg, how='inner', left_on="date" ,right_on="Date")
wsb_mkts = wsb_mkts.merge(wsb_sentbydaypos, how='inner' ,on="Date")
wsb_mkts =  wsb_mkts.merge(wsb_sentbyday, how='inner' ,on="Date")
wsb_mkts =  wsb_mkts.merge(wsb_favd, how='inner' , left_on="date" ,right_on="day")
wsb_mkts =  wsb_mkts.merge(wsb_econ, how='inner' ,on="Date")
wsb_mkts

In [ ]:
wsb_smkt = wsb_mkts.loc[:, ["date", "change", "Neg_Count", "Pos_Count", "Sent_Count", "favorites", "Count"]]
wsb_smkt

In [ ]:
SC_change = wsb_mkts.loc[:, ["change"]].values
SC_change
wsb_smkt_X1 = wsb_mkts.loc[:,["Neg_Count", "Pos_Count", "favorites", "Count"]].values
wsb_smkt_X1

In [ ]:
X_train, X_test,y_train,y_test = train_test_split(wsb_smkt_X1, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

In [ ]:
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)

In [ ]:
SC_change = wsb_mkts.loc[:, ["change"]].values
SC_change
wsb_smkt_X1 = wsb_mkts.loc[:,["Sent_Count", "favorites", "Count"]].values
wsb_smkt_X1

X_train, X_test,y_train,y_test = train_test_split(wsb_smkt_X1, LC_change, test_size=0.33 , random_state=24)
regr = RandomForestRegressor()
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

In [ ]:
ridge.fit(X_train,y_train)
ridge.score(X_test, y_test)